<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-file="http://www.springframework.org/schema/integration/file"
       xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
                           http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
                           http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <property name="userName" value="admin"/>
        <property name="password" value="admin"/>
    </bean>

    <int:channel id="fileInputChannel"/>
    <int:channel id="jsonChannel"/>

    <int-file:inbound-channel-adapter
        id="fileReadingAdapter"
        directory="C:/Users/BSIT-021/Documents/workspace-spring-tool-suite-4-4.23.1.RELEASE/ActiveTask/src/main/java"
        filename-pattern="*.xml"
        channel="fileInputChannel"/>

    <bean id="xmlToJsonTransformer" class="com.example.Integration.XmlToJsonTransformer"/>
 
         <int:transformer input-channel="fileInputChannel" output-channel="jsonChannel" ref="xmlToJsonTransformer" method="transform"/>
   
    <int-jms:outbound-channel-adapter
        id="jmsOutboundAdapter"
        channel="jsonChannel"
        destination="outQueue"
        connection-factory="jmsConnectionFactory"/>

    <bean id="outQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="outQueue"/>
    </bean>
</beans>